extends layout

block content
  
  link(rel="stylesheet", type="text/css", href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css")
 
  div.br--sm
  .container 
    a.btn.btn-default.btn--back(href="/actors?category=" + category, role="button") 
      span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
      |  Back
    &nbsp;
    a.btn.btn-default.btn--back(href="http://www.bbc.co.uk", role="button") 
      span.glyphicon.glyphicon-film(aria-hidden="true")
      |  &nbsp; Film Reel
    div.br--sm
    div.row
      div.col-sm-5.col-md-4
        img.maxWidth(src=profilePicture)
      div.col-sm-6.col-md-5
        h1.margin__top--none #{item.title}
        !{profileDetails}   
        br
        a.btn.btn-default.btn--back(href="http://www.bbc.co.uk", role="button") 
          span.glyphicon.glyphicon-film(aria-hidden="true")
          |  &nbsp; Film Reel
      a.btn.btn-default.btn--back(href="http://www.bbc.co.uk", role="button") 
        span.glyphicon.glyphicon-film(aria-hidden="true")
        |  &nbsp; Film Reel
    div.row
      div.col-xs-12
        h5.stage__title
          strong Stage
        table#stageTable.table.table-striped.dt-responsive.nowrap(width="100%" cellspacing="0")
          thead
            tr
              th Production
              th Role
              th Director
              th Company
          tbody
            !{stageTable}
    div.row
      div.col-xs-12
        h5.film__title
          strong Film
        table#filmTable.table.table-striped.dt-responsive.nowrap(width="100%" cellspacing="0")
          thead
            tr
              th Production
              th Role
              th Director
              th Company
          tbody
            !{filmTable}
    div.row
      div.col-xs-12
        h5.tv__title
          strong TV
        table#tvTable.table.table-striped.dt-responsive.nowrap(width="100%" cellspacing="0")
          thead
            tr
              th Production
              th Role
              th Director
              th Company
          tbody
            !{tvTable}
    div.row
      div.col-xs-12
        h5.voice__title
          strong Voice/Other
        table#voiceTable.table.table-striped.dt-responsive.nowrap(width="100%" cellspacing="0")
          thead
            tr
              th Production
              th Role
              th Director
              th Company
          tbody
            !{voiceTable}

  script(type="text/javascript", src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
  script(type="text/javascript", src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js")
  script(type="text/javascript", src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js")
  script(type="text/javascript", src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js")
  script(src="/javascripts/actor.js")
