extends layout

block content
  
  link(rel="stylesheet", type="text/css", href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css")
  //- link(rel="stylesheet", href="/stylesheets/responsive-tables.css")
  //- script(src="/javascripts/responsive-tables.js")

  style.
    .leftPadding--none li {
      padding-left: 10px !important;
    }
  div.br--sm
  .container 
    div.row
      div.col-md-4
        img(src=profilePicture style="width:100%;")
      div.col-md-5
        h1.margin__top--none #{item.title}
        !{profileDetails}
    div.row
      div(style="text-align: left;").col-xs-12
        h5(style='padding-top:10.5px;padding-left:5px;padding-bottom:10.5px; margin-bottom:0; background-color:#C7D8C6;')
          strong Film/Television
        !{filmTable}
    div.row
      div.col-xs-12
        h5(style='padding-top:10.5px;padding-left:5px;padding-bottom:10.5px; background-color:#A9B7C0;')
          strong Theatre
        !{theatreTable}
    div.row
      div.col-xs-12
        h5(style='padding-top:10.5px;padding-left:5px;padding-bottom:10.5px; background-color:#CCCBC6;')
          strong Training and Education
        div.leftPadding--none !{training}

  script(type="text/javascript", src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
  script(type="text/javascript", src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js")
  script(type="text/javascript", src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js")
  script(type="text/javascript", src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js")
  script(src="/javascripts/actor.js")
