extends layout

block content
  h1 #{item.title}
  div.row
    div.col-md-6
      img(src=img)
    div.col-md-6     
      !{profileDetails}
  !{filmTable}
  !{theatreTable}
  !{training}

  script(src="/javascripts/actor.js")
